/* Header */
.header{
    top: 30px;
    height: 100px;
    z-index: 999;
}

.header .navbar{
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    min-height: 80px;
    /* width: 90%; */
}

.header .navbar .navbar-nav .nav-item{
    padding: 0 20px;
}

.header .navbar .navbar-nav .nav-item .active{
    color: var(--color-primary);
}

.header .navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--color-primary);
}

/* End Header */

/* Welcome */
.welcome{
    background-image: url(../imgs/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center bottom;
}

.welcome .title h1{
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    font-weight: 500;
    color: white;
}

.welcome .title p {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    position: relative;
}


/* End Welcome */

/* Section-one */
.section-one{
    padding-top: 30px;
    margin-top: -220px;
}

.section-one .inner-box{
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.section-one .inner-box .image{
    background-color: var(--color-second);
    width: 90px;
    aspect-ratio: 1/1;
}

.section-one .inner-box:hover .image{
    background-color: var(--color-primary);
}

/* End Section-one */

/* Section-two */
.section-two{
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-two .content p{
    line-height: 28px;
    letter-spacing: 1.5px;
}

.section-two hr{
    margin-top: 100px;
}

/* End Section-two */

/* Section-three */
.section-three{
    margin: 100px 0;
}

.section-three .content p{
    line-height: 28px;
    letter-spacing: 1.5px;
}

/* End Section-three */

/* Section-four */
.section-four{
    background-color: var(--color-third);
    /* margin: 70px ; margin collapsing */
    padding: 90px 0;
}

.section-four .item{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.2);
    z-index: 0;
    transition: all 0.3s ease 0s;
}

.section-four .item:hover{
    /* margin-top: -10px; */
    transform: translateY(-10px);
}

.section-four .item::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    width: 100%;
    opacity: .2;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
}

.section-four .item strong{
    color: var(--color-text);
    font-size: 17px;
}

.section-four .item span{
    color: var(--color-text);
    font-size: 14px;
    letter-spacing: 0.75px;
}
/* End Section-four */

/* Section-five */
.section-five{
    background-color: #fff;
    padding: 90px 0;
}

.section-five .inner-box{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    /* margin-bottom: 30px; */
    padding: 50px 50px;
    background-color: #fff;
    min-height: 380px;
    
}

.section-five .inner-box .role{
    transition: all 0.5s ease;
}

.section-five .inner-box:hover .role{
    transform: translateX(20px);
}

.section-five .row-2 .inner-box .role span{
    color: var(--color-primary);
}

/* End Section-five */

/* Section-six */
.section-six{
    background-color: #F2F2FE;
    padding: 90px 0;
}

.section-six .row-2 .content{
    background-color: #fff;
    padding: 50px;
}

.section-six .row-2 .content .price{
    background-color: var(--color-third);
    padding: 10px 50px;
    border-radius: 25px;
}

.section-six .row-2 .block:nth-child(2) .content .price{
    background-color: var(--color-text);
    color: #fff;
}

.section-six .row-2 .block .content .list .line-through{
    text-decoration: line-through;
}

.section-six .row-2 .block .content .button-one{
    padding: 10px;
    text-transform: uppercase;
}

/* End Section-six */

/* Section-seven */
.section-seven{
    padding: 70px 0;
    background-color: var(--color-third);
}

.section-seven .inner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-seven .item:not(:last-child) .inner-box::after{
    content: "";
    background-image: url(../imgs/circle-dec.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 100%;
    width: 100%;
    height: 32px;
    top: 50%;
}

.section-seven .inner-box:hover h1,
.section-seven .inner-box:hover span {
    transition: all 0.5s ease;
}

.section-seven .inner-box:hover h1,
.section-seven .inner-box:hover span {
    transform: translateY(-10px);
}

/* End Section-seven */

/* Section-eight */
.section-eight{
    padding: 100px 0;
    background-color: #fff;
}

.section-eight .content .button-two{
    padding: 10px 20px;
    /* background-color: var(--color-text); specificityl */
}

/* End Section-eight */

/* Section-nine */
.section-nine{
    padding: 100px 0;
    background-color: #F2F2FE;
}

.section-nine .row-2 .contact-form .form .row .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    padding-left: 20px;
    border: none;
    padding-right: 20px;
    margin-bottom: 30px;
}

.section-nine .row-2 .contact-form .form .row #message{
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.section-nine .row-2 .contact-form .form .row .button-two{
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
}

/* End Section-nine */

/* Footer */
.footer{
    padding: 30px 0;
    background-color: var(--color-third);
}

.footer .list{
    padding: 20px 0;
    border-bottom: 1px solid rgba(127, 126, 126, 0.836);
}

.footer .list .social li a{
    font-size: 20px;
    color: var(--color-second);
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.5s ease;
}

.footer .list .social li a:hover{
    background-color: var(--color-second);
    color: white;
}

/* End Footer */